*.tar.gz
*.Rproj.user
*.Rhistory
*.Ruserdata
*.out
.Rproj.user
*.Rout
.Rout
*.ROut
.ROut
*cache*
cache
main/beta_vec
figures/*.RData
results/*.RData
simulation/*.RData
experiment/*.RData
data/*.RData
*.js
.js
*.css
.css
